@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
 
* {
    margin: 0%;
    padding: 0%;
    border: none;
    
}

body {
    font-family: sans-serif;
  
}


h2 {
    font-size: 250%;
    font-family: Bebas Neue;
    letter-spacing: 1px;
    padding: 15px;
    text-align: center;
}

h3 {
    font-size: 250%;
    font-family: Bebas Neue;
}

h4 {
    font-size: 250%;
    margin: 10px;
    font-family: Bebas Neue;
}

/* header */

#logo {
    float: left;
    color: #5a5a44;
    margin-left: 20px;
    padding: 15px;
    font-family: Bebas Neue;
    font-size: 300%;
    letter-spacing: .5px;
}

#logo, #nav-links {
    line-height: 60px;
    
}
#nav-links {
    font-size: 140%;
    letter-spacing: 1px;
    
}

#nav-links li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
    padding: 15px;
}

#nav-links a {
    text-decoration: none;
    color: #5a5a44;
}

#nav-links a:hover {
    text-decoration: underline;
}

/*main image */
 
#main-image {
    height: 700px ;
    width: 100%;
    background: url('../images/Scarr-mountain-min.jpg') no-repeat center center;
    background-size: 100% 700px;
    background-repeat: no-repeat;
    clear: both;
    position: relative;
}

#main-image p {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    font-family: bebas neue;
    font-size: 240%;
    text-align: center;
    overflow: hidden;
    width: 15%;
    height: 30%;
    position: absolute;
    right: 20%;
    bottom: 10%;
}

/* about us section */ 

#about-us {
   background: #5a5a44;
   height: 700px;
  
}

#about-us h2 {
    color: white;
}


#about-us-image {
    background: url(../images/wicklow-image.png) no-repeat;
    background-size: 100%;
    height: 500px;
    width: 45%;
    float: left;
    margin-left: 3%;
}

#about-us-text {
    height: 500px;
    width: 45%;
    border: 2px solid white;
    float: right;
    margin-right: 3%;
    margin-left: 3%;
   
}

#about-us-text p{
    margin: 200px 50px 0 050px;
    font-size: 150%;
    color: white;
    text-align: center;
}


/* slideshow section */

#slideshow-section {
    height: 700px;
    position: relative;
}

#slideshow {
    border: 2px solid #5a5a44;
    height: 500px;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 100px;
}

/* footer sections */

 #home-footer{
     background: #5a5a44;
     color: white;
     font-size: 150%;
     height: 300px;
     padding: 20px;
     text-align: center;
    
 }


#home-footer a {
    color: white;
}


 #activity-footer {
    background: white;
    color: #5a5a44;
    text-align: center;
    font-size: 150%;
    height: 300px;
    padding: 20px;
 }

 #activity-footer a {
     color: #5a5a5a;
 }

 #Facilities-footer {
        background: white;
        color: #5a5a44;
        text-align: center;
        font-size: 150%;
        height: 300px;
        padding: 20px;
 }

 #Facilities-footer a {
     color: #5a5a44;
 }


 footer li {
     display: inline-block;
     text-decoration: none;
     margin-right: 40px;
 }

 footer a {
     text-decoration: none;
 }

 footer a:hover {
     font-weight: bold;
     text-decoration: underline;
 }

 span {
     font-weight: bold;
     margin-left: 40px;
 }

                                        /* activities page */

#water {
    height: 700px;
    clear: both;
    position: relative;
    background: #5a5a44;
}


#land {
    height: 700px;
    background: white;
    position: relative;
}

#sky {
    height: 700px;
    background: #5a5a44;
    position: relative;
}

/* kayaking section */

.kayaking h3 {
    position: absolute;
    margin-left: 5%;
    top: 4%;
    color: white;
    letter-spacing: 2px;
}

#kayak-image {
    height: 480px;
    width: 42.5%;
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    top: 10%;
    background: url('../images/kayak-image.jpg') no-repeat;
    background-size: 100%;
    
}

.kayaking p {
    position: absolute;
    width: 42.5%;
    margin-left: 5%;
    bottom: 10%;
    font-family: sans-serif;
    font-size: 120%;
    color: white;
}

/* canoe section */

.canoeing h3 {
    position: absolute;
    left: 52.5%;
    top: 4%;
    color: white;
    letter-spacing: 2px;
}

#canoe-image {
    height: 480px;
    width: 42.5%;
    margin-right: 5%;
    position: absolute;
    right: 0;
    top: 10%;
    background: url('../images/canoe-image.jpg') no-repeat;
    background-size: 100%;
}

.canoeing p {
    position: absolute;
    right: 5%;
    width: 42.5%;
    margin-left: 5%;
    bottom: 10%;
    font-family: sans-serif;
    font-size: 120%;
    color: white;
}

/* archery section */

.archery h3 {
    position: absolute;
    margin-left: 5%;
    top: 4%;
    color: #5a5a5a;
    letter-spacing: 2px;
}

#archery-image {
    height: 480px;
    width: 42.5%;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    top: 10%;
    background: url('../images/archery-image.jpg') no-repeat;
    background-size: 100%;
}

.archery p {
    position: absolute;
    width: 42.5%;
    margin-left: 5%;
    bottom: 10%;
    font-family: sans-serif;
    font-size: 120%;
    color: #5a5a44;
}

/* rockclimbing section */

.rockclimbing h3 {
    position: absolute;
    left: 52.5%;
    top: 4%;
    color: #5a5a44;
    letter-spacing: 2px;
}

#rockclimbing-image {
    height: 480px;
    width: 42.5%;
    display: inline-block;
    margin-right: 5%;
    right: 0%;
    position: absolute;
    top: 10%;
    background: url('../images/rockclimbing-image.jpg') no-repeat;
    background-size: 100%;
}

.rockclimbing p {
    position: absolute;
    right: 5%;
    width: 42.5%;
    margin-left: 5%;
    bottom: 10%;
    font-family: sans-serif;
    font-size: 120%;
    color: #5a5a44;
}

/* skywalk section */

.skywalk h3 {
        position: absolute;
        margin-left: 5%;
        top: 4%;
        color: white;
        letter-spacing: 2px;
}

#skywalk-image {
    height: 480px;
    width: 42.5%;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    top: 10%;
    background: url('../images/skywalk-image.jpg') no-repeat;
    background-size: 100%;
}

.skywalk p {
    position: absolute;
    width: 42.5%;
    margin-left: 5%;
    bottom: 10%;
    font-family: sans-serif;
    font-size: 120%;
    color: white;
}

/* petting-farm section */

.petting-farm h3 {
    position: absolute;
    left: 52.5%;
    top: 4%;
    color: white;
    letter-spacing: 2px;
}

#petting-farm-image {
    height: 480px;
    width: 42.5%;
    margin-right: 5%;
    position: absolute;
    right: 0;
    top: 10%;
    background: url('../images/petting-farm-image.jpg') no-repeat;
    background-size: 100%;
}

.petting-farm p {
    position: absolute;
    right: 5%;
    width: 42.5%;
    margin-left: 5%;
    bottom: 10%;
    font-family: sans-serif;
    font-size: 120%;
    color: white;
}

                                        /* facilities page */

/* camping section */

#camping-section {
    clear: both;
    background: #5a5a44;
    height: 650px;
    width: 100%;
}

#camping-section h2 {
    color: white;
}

#camping-image {
    float: left;
    height: 550px;
    width: 45%;
    margin-left: 3%;
    margin-right: 3%;
    background: url('../images/camping-image.jpg') no-repeat;
    background-size: 100%;
    
}

#camping-text {
    float: right;
    height: 550px;
    width: 45%;
    margin-right: 3%;
}

#camping-text p{
    margin: 100px 50px;
    font-size: 150%;
    color: white;
    text-align: center;
    line-height: 50px;
}

/* cabin section */

#cabin-section {
    background: white;
    height: 650px;
    width: 100%;
}

#cabin-section h2 {
    color: #5a5a44;
}

#cabin-image {
    float: left;
    height: 550px;
    width: 45%;
    margin-left: 3%;
    margin-right: 3%;
    background: url('../images/cabin-image.jpg') no-repeat;
    background-size: 100%;
}

#cabin-text {
    float: right;
    height: 550px;
    width: 45%;
    margin-right: 3%;
}


#cabin-text p{
    margin: 100px 50px;
    font-size: 150%;
    color: #5a5a44;
    text-align: center;
    line-height: 50px;
}

/* restaurant section */

#restaurant-section {
    background: #5a5a44;
    height: 650px;
    width: 100%;
}

#restaurant-section h2 {
    color: white;
}

#restaurant-image {
    float: left;
    height: 550px;
    width: 45%;
    margin-left: 3%;
    margin-right: 3%;
    background: url('../images/restaurant-image.jpg') no-repeat;
    background-size: 100%;
}

#restaurant-text {
    float: right;
    height: 550px;
    width: 45%;
    margin-right: 3%;
}

#restaurant-text p{
    margin: 100px 50px;
    font-size: 150%;
    color: white;
    text-align: center;
    line-height: 50px;
}

/* Media queries */

@media screen and (max-width: 1500px) {
     #main-image {
         height: 600px;
     }

     #main-image p {
         font-size: 200%;
         height: 30%;
         width: 15%;
         padding: 20px;
     }

     #about-us {
         height: 600px;
     }

     #about-us-image {
         height: 450px;
     }

     #about-us-text {
         height: 400px;
     }
     
     #about-us-text p {
         margin: 150px 50px 0 50px;
     }
     
     #slideshow-section{
         height: 600px;
     }

     #slideshow {
         height: 400px;
         top: 100px
     }

     #water {
         height: 650px;
     }

     #land {
         height: 650px;
     }

     #sky {
        height: 650px;
         }
     
    #camping-section{
        height: 600px;
    }

    #cabin-section {
        height: 600px;
    }

    #restaurant-section {
        height: 600px;
    }

     #home-footer {
         font-size: 120%;
         height: 240px;
     }

     #activity-footer {
        font-size: 120%;
        height: 240px;
    }

    #Facilities-footer {
        font-size: 120%;
    }

 
}

@media screen and (max-width: 1200px) {

    h3 {
        font-size: 150%;
        
    }

    /* header */

    #logo {
        margin-left: 0px;
    }

    #nav-links {
        clear: both;
        float: left;
        line-height: 20px;
    }

    #nav-links a {
        display: inline-block;
    }

    /* about-us section */

    #main-image {
        height: 500px;
    }

    #main-image p {
        font-size: 160%;
        height: 30%;
        width: 15%;
        padding: 20px;
    }

    #about-us {
        height: 500px;
    }

    #about-us-image {
        height: 300px;
        background-size: contain;
    }

    #about-us-text {
        height: 300px;
    }
    
    #about-us-text p {
        margin: 80px 25px 0 25px;
        line-height: 25px;
        font-size: 110%;
    }

    /* slideshow section */
    
    #slideshow-section{
        height: 500px;
    }

    #slideshow {
        height: 300px;
        top: 100px
    }

    /* activities page */

    #water {
        height: 480px;
    }

    .kayaking p {
        font-size: 110%;
        bottom: 10%;
    } 

    .canoeing p {
        font-size: 110%;
        bottom: 10%;
    }

    #land {
        height: 480px;
        font-size: 110%;
    }

    .archery p {
        font-size: 110%;
        bottom: 10%;
    }

    .rockclimbing p {
        font-size: 110%;
        bottom: 10%;
    }

    #sky {
       height: 480px;
        }

    #skywalk-image p {
        font-size: 110%;
        bottom: 10%;
    }

    #skywalk-image p {
        font-size: 110%;
        bottom: 10%;
    }

    /* facilities page */
    
   #camping-section{
       height: 450px;
   }

   #camping-image {
       height: 300px;
   }

   #camping-text {
       height: 300px;
   }

   #camping-section p {
       font-size: 110%;
       margin: 30px;
       line-height: 40px;
   }

   #cabin-section {
       height: 450px;
   }

   #cabin-image {
    height: 300px;
}

   #cabin-text {
    height: 300px;
}

   #cabin-section p {
    font-size: 110%;
    margin: 30px;
    line-height: 40px;
}

   #restaurant-section {
       height: 450px;
   }

   #restaurant-image {
    height: 300px;
}

   #restaurant-text {
    height: 300px;
}

   #restaurant-section p {
    font-size: 110%;
    margin: 30px;
    line-height: 40px;
}

/* footer sections */

    #home-footer {
        font-size: 95%;
        height: 220px;
        margin-right: 20px;
    }

    #activity-footer {
       font-size: 95%;
       height: 220px;
   }

   #Facilities-footer {
       font-size: 95%;
       height: 220px;;
   }


}